# Виртуальное окружение
venv/

# Медиа и статика Django
fullstak_django/media/
fullstak_django/staticfiles/

# Логи
*.log
gunicorn.log

# Системные файлы
.DS_Store
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/
EOF
