@use '@styles/variables.scss';

.custom-green-marker-inner {
  width: 7px;
  height: 7px;
  background: variables.$marker-color;
  border-radius: variables.$radius-m;
  border: 1px solid variables.$black-color;
}

.custom-orange-marker-inner {
  width: 7px;
  height: 7px;
  background: variables.$marker-second-color;
  border-radius: variables.$radius-m;
  border: 1px solid variables.$black-color;
}
