@use '@styles/mixins.scss';
@use '@styles/variables.scss';

.reset {
  &__container {
    @include mixins.auth-container(10vh, 30%, auto);
  }

  &__text {
    margin-top: 10px;
    text-decoration: none;
  }

  &__link {
    color: variables.$second-color;
    text-decoration-color: variables.$link-inactive;
    transition: variables.$transition-slow text-decoration-color;

    &:hover {
      text-decoration-color: variables.$second-color;
    }
  }
}
